<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/{{ current_theme.slug }}.css?{{ cache_buster }}" />

    <script>
      window.CurrentTheme = {
        slug: "{{ current_theme.slug }}",
        name: "{{ current_theme.name }}",
      };
    </script>

   {% if reload %}
      <script defer src="/__reload__"></script>
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="w-[900px] max-w-full mx-auto mt-12 md:mt-24">
      {{ content }}
    </div>

 
  </body>
</html>